     /* For laptop: */
     /* header starts now */
     
     .col-s-1 {
         width: 8.33%;
     }
     
     .col-s-2 {
         width: 16.66%;
     }
     
     .col-s-3 {
         width: 25%;
     }
     
     .col-s-4 {
         width: 33.33%;
     }
     
     .col-s-5 {
         width: 41.66%;
     }
     
     .col-s-6 {
         width: 50%;
     }
     
     .col-s-7 {
         width: 58.33%;
     }
     
     .col-s-8 {
         width: 66.66%;
     }
     
     .col-s-9 {
         width: 75%;
     }
     
     .col-s-10 {
         width: 83.33%;
     }
     
     .col-s-11 {
         width: 91.66%;
     }
     
     .col-s-12 {
         width: 100%;
     }
     
     .nav-logo {
         text-align: left;
     }
     
     .nav-heading h1 {
         display: none;
     }
     
     .nav-menu {
         flex-direction: row;
         justify-content: flex-end;
     }
     
     .nav-menu a {
         background-color: transparent;
         padding: 10px 15px;
         margin-left: 5px;
     }
     /* header ends now */
     /* section1 starts now */
     
     .weather_top_icon {
         top: 20px;
         right: 100px;
     }
     
     .weather_bottom_icon {
         bottom: 20px;
         left: 110px;
     }
     
     .weather_top_icon:hover {
         transform: rotate(360deg) scale(1.3);
     }
     
     .weather_bottom_icon:hover {
         transform: rotate(360deg) scale(1.3);
     }
     
     .weather_dec p {
         width: 70%;
     }
     /* section1 ends now */
     /* about_me starts now */
     
     .about_me_img {
         margin-top: 100px;
     }
     
     .about_me_img img {
         width: 300px;
         height: 330px;
     }
     
     .about_me_dec {
         text-align: left;
     }
     /* about_me end now */
     /* achievements start now */
     
     .button_reset {
         padding: 10px 20px;
         font-size: 17px;
     }
     
     .more_contact {
         position: relative;
         height: 250px;
     }
     
     button.btn {
         font-size: 30px;
         width: 43px;
         height: 43px;
     }
     
     .media_icon {
         position: absolute;
         margin-top: 20px;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
     }
     /* achievements ends now */
     /* footer ends now */
     
     .a_link {
         display: flex;
         justify-content: flex-start;
     }
     
     .a_link a {
         margin: 0px 5px;
         font-size: 14px;
     }
     
     .f_dec {
         font-size: 13px;
         display: flex;
         justify-content: flex-end;
     }
     /* footer ends now */